@model IEnumerable<Enrollment>

@{
    ViewData["Title"] = "View Enrollments";
}

<h1 class="text-black  text-center py-4">Manage Enrollments</h1>
<hr />
<div class="my-4">
    <a asp-action="CreateEnrollment" class="btn btn-primary">Create New</a>
    <a asp-action="ViewInActiveEnrollments" class="btn btn-outline-warning ms-4">InActive</a>
    <a asp-controller="Home" asp-action="AdminMenu" class="btn btn-secondary ms-4">Go Back</a>
</div>

<div class="table-responsive" style="max-height: 415px; overflow-y: auto;">
    <table class="table table-striped table-hover">
        <thead class="table-warning py-5" style="position: sticky; top: 0; z-index: 10;">
            <tr>
                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Course
                </th>
                <th>
                    Grade
                </th>
                <th>
                    Enrollment Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var statusMessageClass = (item.Grade.HasValue ? item.Grade.ToString() : "text-warning");
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Title)
                    </td>
                    <td class="@statusMessageClass">
                        @(item.Grade.HasValue ? item.Grade.ToString() : "Pending")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnrollmentDate)
                    </td>
                    <td>
                        <a asp-action="EditEnrollment" asp-route-mode="Edit" class="btn btn-primary" asp-route-id="@item.EnrollmentID">Edit</a>
                        <a asp-action="EditEnrollment" asp-route-mode="Grade" class="btn btn-success" asp-route-id="@item.EnrollmentID">Grade</a>
                        <a asp-action="DeleteEnrollment" class="btn btn-danger" asp-route-id="@item.EnrollmentID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

